/* .buy{
    border: transparent;
    height: 500px;
    width: 500px;
    margin-left: 450px;
    margin-top: 50px;
}
img{
    height: 200px;
    margin-left: 130px;
}
p{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.buyset{
    display: flex;
    justify-content: center;
}
button{
    width: 40px;
    height: 30px;
    margin-top: 17px;
}
.set{
    border: 1px solid grey;
    height: 30px;
    width: 200px;
} */
.pk{
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
}
.pk1{
    color: red;
}
.pk2{
    color: green;
}